@using Entities
@model Meeting
@{
    ViewData["Title"] = "Meeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TOPLANTI OLUŞTURMA FORMU</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="container">
        <div class="text">
            TOPLANTI FORMU
        </div>
        <form asp-controller="Home" asp-action="Meeting" method="post">
            <div class="form-row">
                <div class="input-data">
                    <input type="text" asp-for="@Model.Name" required>
                    <div class="underline"></div>
                    <label for="">Toplantı Adı</label>
                </div>
                <br />
                <div class="input-data">
                    <span>Toplantı Başlangıç Tarihi</span>
                    <input type="datetime-local" asp-for="@Model.StartDate" required>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <span class="red">Toplantı Bitiş Tarihi</span>
                    <input type="datetime-local" asp-for="@Model.EndDate" required>
                </div>
                <br />
                <div class="input-data">
                    <input type="text" asp-for="@Model.DocumentPath" required>
                    <div class="underline"></div>
                    <label for="">Döküman</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data textarea">
                    <textarea rows="8" asp-for="@Model.Description" cols="80" required></textarea>
                    <br />
                    <div class="underline"></div>
                    <label for="">Açıklama</label>
                    <br />
                    <div class="form-row submit-btn">
                        <div class="input-data">
                            <div class="inner"></div>
                            <input type="submit" value="submit">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

